.App-header {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
}
 .body-data{
  text-align:center;
 }
 td{
  text-align:center;
 }
 .front-row:hover {
  background-color: #a7a7a7;
  cursor: pointer;
}
.front-row{
  font-weight: bold;
}